.jumbotron {
	color: white;
  background-image: url("img/header.jpg");
  background-position: center;
  background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
  padding: 75px 120px;
}

.display-3 {
  font-family: KaiTiGB2312;
 font-size:3em !important;
}

.jumbotron p {
  font-family:SimSun;
	font-size: 1.3em;
}

.btn{
color: black;
background: #00FAA5;
border-color: #00FAA5;
padding: 1.2rem 1.2em;
font-size: 1.8rem;
line-height: 0.5;
border-radius: .3rem;
}

.head h1{
	font-size: 2.5rem;
}

.head h2{
	font-size: 0.5rem;
}

.col-md-4 img{
	margin-top: 30px;
}

.col-md-4 h4{
  font-family: SimHei;
  font-size: 2.3rem;
	padding-top: 20px;
}

.col-md-4 p{
	font-size: 0.1em;
}

footer p{
   font-size: 0.5rem;
   text-align: left;
   margin-right: 120px;
   }

  